*{
   margin: 0px;
   font-family: Arial, Helvetica, sans-serif;
   border:border-box;

}
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: #0f1111;
    display: flex;

   


}
.nav-logo{
    width: 120px;
    height:55px;
    
    background-image: url("assets/logos/amazon-logo.png");
    background-size: cover;
    background-color:#0f1111;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

.add-first{
    color:#cccccc;
    font-family: 0.85rem;
    position: absolute;
    left: 200px;
    top :10px;
    background-color: #0f1111;
}
.add-sec{
    color: white;
    font-size: 1rem;
    position: absolute;
    left: 23px;
    top :1px;
    background-color: #0f1111;
}
.add-logo{
    display: flex;
    position: absolute;
    top: 30px;
    left: 180px;
    color: white;
    background-color: #0f1111;
}
.nav-add{
   width: 80px;
   height: 55px;
   background-color: #0f1111;
}
.nav-sea{
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 350px;
    background-color:white;
    
}
.sea-select{
    width:52px ;
    height: 40px;
    color: #0f1111;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.sea-input{
    width:100%;
    height: 38px;
    color: #0f1111;
    text-align: center;
    border: none;
    font-size: 1rem;

}
.sea-logo{
    color: white;
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 144, 12);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.2rem;
}

.nav-sea:hover{
    border: 3px solid rgb(215, 144, 12);
}
.sig{
    width:135px;
    height: 55px;
    position:absolute;
    right:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.sig-first{
    color: #cccccc;
    font-size: 0.85rem;
    position: absolute;
    top: 10px;
    left:5px;
}
.sig-acc{
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 25px;
    left:5px;
}
.order{
    width: 70px;
    height: 55px;
    position: absolute;
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.ret{
    color: #cccccc;
    font-size: 0.85rem;
    position: absolute;
    top: 10px;
    left:5px;
}
.ord{
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 25px;
    left:5px;
}
.nav-cart i {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 100px;
    display: flex;
    position: absolute;
    top: 18px;

}
.cart-p{
   color: white;
   position: absolute;
   right: 70px;
   top: 30px;
   font-weight: bold;
}
.nav-sett{
    color: white;
    font-size: 25px;
    position: absolute;
    right: 15px;
    top:15px;
}
.panel{
    height: 40px;
    background-color:#222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pan-ops p{
    display: inline;
    margin-left: 10px;
    font-size: 0.90rem;
    

}
.pan-ops{
    width:70%;
}
.pan-deals{
    font-size: 1rem;
    font-weight: 700;
}

/*home page*/

.hero-section{
    background-image: url("assets/hero/Hero-section.jpg");
    height:600px;
    background-size: cover;
}
.hero-msg{
    height: 40px;
    background-color:rgb(240, 240, 240);
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    position:absolute;
    left: 70px;
    top:400px

}
.hero-msg a{
    color:#007185 ;
}
.shop-section{
    background-color: #ace2fc;
}
.box-1{
    width:23%;
    height:400px;
    background-color:white;
    /* border: 2px solid black; */
    display: flex;
    position: absolute;
    top: 450px;
    left: 40px;
    padding: 20px 0px 15px;
}
.box1-box1{
    width: 130px;
    height: 100px;
    /* border: 2px solid black; */
    position: absolute;
    top: 100px;
    left: 30px;
    background-image: url("assets/products/box1-1.jpg");
    background-size: cover;
}

.box1-box1 p{
    font-size: 0.85rem;
    position:absolute;
    top:110px;
    left: 30px;
}
.box1-box2{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 30px;
    background-image: url("assets/products/box1-2.jpg");
    background-size: cover;
}
.box1-box2 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box1-box3{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 30px;
    background-image: url("assets/products/box1-3.jpg");
    background-size: cover;
}
.box1-box3 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box1-box4{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 250px;
    right: 30px;
    background-image: url("assets/products/box1-4.jpg");
    background-size: cover;
}
.box1-box4 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box-1 h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1rem;
}
.box-1 p{
   position: absolute;
   bottom:5px;
   left: 25px;
   font-size: 0.90rem;
   color:#007185 ;
}
.box-2{
    width:23%;
    height:400px;
    background-color:white;
    /* border: 2px solid black; */
    display: flex;
    position: absolute;
    top: 450px;
    left: 410px;
    padding: 20px 0px 15px;
}
.box2-box1{
    width: 130px;
    height: 100px;
    /* border: 2px solid black; */
    position: absolute;
    top: 100px;
    left: 30px;
    background-image: url("assets/products/box2-1.jpg");
    background-size: cover;
}

.box2-box1 p{
    font-size: 0.85rem;
    position:absolute;
    top:110px;
    left: 30px;
}
.box2-box2{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 30px;
    background-image: url("assets/products/box2-2.jpg");
    background-size: cover;
}
.box2-box2 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box2-box3{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 30px;
    background-image: url("assets/products/box2-3.jpg");
    background-size: cover;
}
.box2-box3 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box2-box4{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 250px;
    right: 30px;
    background-image: url("assets/products/box2-4.jpg");
    background-size: cover;
}
.box2-box4 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box-2 h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1rem;
}
.box-2 p{
   position: absolute;
   bottom:5px;
   left: 25px;
   font-size: 0.90rem;
   color:#007185 ;
}
.box-3{
    width:23%;
    height:400px;
    background-color:white;
    /* border: 2px solid black; */
    display: flex;
    position: absolute;
    top: 450px;
    right: 390px;
    padding: 20px 0px 15px;
}
.box3-box1{
    width: 130px;
    height: 100px;
    /* border: 2px solid black; */
    position: absolute;
    top: 100px;
    left: 30px;
    background-image: url("assets/products/box3-1.jpg");
    background-size: cover;
}

.box3-box1 p{
    font-size: 0.85rem;
    position:absolute;
    top:110px;
    left: 30px;
}
.box3-box2{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 30px;
    background-image: url("assets/products/box3-2.jpg");
    background-size: cover;
}
.box3-box2 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box3-box3{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 30px;
    background-image: url("assets/products/box3-3.jpg");
    background-size: cover;
}
.box3-box3 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box3-box4{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 250px;
    right: 30px;
    background-image: url("assets/products/box3-4.jpg");
    background-size: cover;
}
.box3-box4 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box-3 h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1rem;
}
.box-3 p{
   position: absolute;
   bottom:5px;
   left: 25px;
   font-size: 0.90rem;
   color:#007185 ;
}
.box-4{
    width:23%;
    height:400px;
    background-color:white;
    /* border: 2px solid black; */
    display: flex;
    position: absolute;
    top: 450px;
    right: 25px;
    padding: 20px 0px 15px;
}
.box4-box1{
    width: 130px;
    height: 100px;
    /* border: 2px solid black; */
    position: absolute;
    top: 100px;
    left: 30px;
    background-image: url("assets/products/box4-1.jpg");
    background-size: cover;
}

.box4-box1 p{
    font-size: 0.85rem;
    position:absolute;
    top:110px;
    left: 30px;
}
.box4-box2{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 30px;
    background-image: url("assets/products/box4-2.jpg");
    background-size: cover;
}
.box4-box2 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box4-box3{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 30px;
    background-image: url("assets/products/box4-3.jpg");
    background-size: cover;
}
.box4-box3 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box4-box4{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 250px;
    right: 30px;
    background-image: url("assets/products/box4-4.jpg");
    background-size: cover;
}
.box4-box4 p{
    font-size: 0.50rem;
    position:absolute;
    top:100px;
    left: 30px;
}
.box-4 h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1rem;
}
.box-4 p{
   position: absolute;
   bottom:5px;
   left: 25px;
   font-size: 0.90rem;
   color:#007185 ;
}
.box-5{
    width:23%;
    height: 400px;
    background-color:white;
    position: absolute;
    left: 40px;
    top:950px;
    padding: 20px 0px 15px;
}
.box-5 h2{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
}
.box-5 p{
    position: absolute;
    bottom: 10px;
    color: #007185;
    margin-left: 20px;
}
.box5-1{
    width:88%;
    height: 300px;
    /* border: 2px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background-image: url("assets/products/box5.png");
    background-size: cover;
}
.box-6{
    width:23%;
    height: 400px;
    background-color:white;
    position: absolute;
    left: 410px;
    top:950px;
    padding: 20px 0px 15px;
}
.box-6 h2{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
}
.box-6 p{
    position: absolute;
    bottom: 10px;
    color: #007185;
    margin-left: 20px;
}
.box6-1{
    width:88%;
    height: 300px;
    /* border: 2px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background-image: url("assets/products/box6.jpg");
    background-size: cover;
}
.box-7{
    width:23%;
    height: 400px;
    background-color:white;
    position: absolute;
    right: 390px;
    top:950px;
    padding: 20px 0px 15px;
}
.box-7 h2{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
}
.box-7 p{
    position: absolute;
    bottom: 10px;
    color: #007185;
    margin-left: 20px;
}
.box7-1{
    width:88%;
    height: 300px;
    /* border: 2px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background-image: url("assets/products/box7.png");
    background-size: cover;
}
.box-8{
    width:23%;
    height: 400px;
    background-color:white;
    position: absolute;
    right: 30px;
    top:950px;
    padding: 20px 0px 15px;
}
.box-8 h2{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
}
.box-8 p{
    position: absolute;
    bottom: 10px;
    color: #007185;
    margin-left: 20px;
}
.box8-1{
    width:88%;
    height: 300px;
    /* border: 2px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background-image: url("assets/products/box8.png");
    background-size: cover;
}
.back{
    background-color: #ace2fc;
}
.slider-section{
    background-color: rgb(240,240,240);
    padding: 20px 0;
}

.slider-msg{
    background-color: rgb(240,240,240);
    padding: 8px 50px;
    padding-top: 700px;
}

.slider-msg p{
    color: #007185;
    font-size: 0.85rem;
    cursor: pointer;
}

.slider-1{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 20px 50px;
    scroll-behavior: smooth;
    padding-top: 10px;
    background-color:rgb(240,240,240) ;
}

.slider-1::-webkit-scrollbar{
    display: none;
}

.card{
    min-width: 200px;
    height: 200px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
}
.shop-section-2{
    background-color:rgb(240,240,240) ;
    
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 100px;

    
}
.shop-1{
    width:350px ;
    height: 400px;
    /* border: 2px solid black; */
    display: flex;
    gap:14px;
    background-color: white;
    
}

.shop-1-box{
    width:300px;
    height: 330px;
    /* border: 2px solid black; */
    position: absolute;
    top: 1800px;
    left: 55px;
    background-image: url("assets/shop/shop-box-1.png");
    background-size: cover;

}
.shop-1 h2{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 1rem;

}
.shop-1 p{
    font-size: 0.90rem;
    position: absolute;
    top: 1780px;
    padding-left: 10px;
    color:#007185;
}
.shop-2{
    width:350px ;
    height: 400px;
    /* border: 2px solid black; */
    display: flex;
    gap:140px;
    background-color: white;
    position: absolute;
    left: 395px;
}

.shop-2-box{
    width:300px;
    height: 335px;
    /* border: 2px solid black; */
    position: absolute;
    top: 60px;
    left: 25px;
    background-image: url("assets/shop/shop-box-2.png");
    background-size: cover;

}
.shop-2 h2{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 1rem;

}
.shop-3{
    width:350px ;
    height: 400px;
    /* border: 2px solid black; */
    display: flex;
    gap:140px;
    background-color: white;
    position: absolute;
    left: 365px;
}

.shop-3-box{
    width:300px;
    height: 335px;
    /* border: 2px solid black; */
    position: absolute;
    top: 60px;
    left: 25px;
    background-image: url("assets/shop/shop-box-3.png");
    background-size: cover;

}
.shop-3 h2{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 1rem;

}
.shop-4{
    width:350px ;
    height: 400px;
    /* border: 2px solid black; */
    display: flex;
    gap:140px;
    background-color: white;
    position: absolute;
    left: 365px;
}

.shop-4-box{
    width:300px;
    height: 335px;
    /* border: 2px solid black; */
    position: absolute;
    top: 60px;
    left: 25px;
    background-image: url("assets/shop/shop-box-4.jpg");
    background-size: cover;

}
.shop-4 h2{
    display: flex;
    font-size: 1rem;

}
.foot-section1{
    background-color: #37475a;
    color: white;
    width:1550px;
    height: 50px;
    display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -1150px;
    top:500px
    
    
}
.foot-section2{
    background-color: #222f3d;
    width: 1450px;
    height: 300px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: -1150px;
    top:550px
    
    
}
ul a{
    background-color: #222f3d;
    color: white;
    display: block;
    margin-top: 10px;
   
}
.foot-section3{
    background-color: #222f3d;
    width: 1550px;
    height: 68px;
    /* padding: 50px; */
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: -1150px;
    top:950px;
    border-top: 0.5px solid white;
}
.foot-logo{
    width: 150px;
    height: 60px;
    background-image: url("assets/logos/amazon-logo.png");
    background-size: cover;
    position: absolute;
    left: 700px;



}
.foot-section4{
     background-color: #222f3d;
    width: 1550px;
    height: 100px;
    /* padding: 50px; */
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: -1150px;
    top:1010px;

}
.page{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:570px ;
    padding-top: 50px;
}
.copyright{
    color: white;
    padding-top: 70px;
}
